[Unit]
Description=First-boot setup for kiosk user
ConditionPathExists=!/etc/kiosk-setup-done
Before=display-manager.service home-kiosk.mount kiosk-accounts.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p /home/kiosk
ExecStart=/usr/bin/kiosk-setup
ExecStart=/usr/bin/kiosk-hide-users
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target