[Unit]
Description=First-boot setup for kiosk user
Before=display-manager.service var-home-kiosk.mount kiosk-accounts.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p /var/home/kiosk
ExecStart=/usr/bin/kiosk-setup
ExecStart=/usr/bin/kiosk-hide-users
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target