[Unit]
Description=Create kiosk AccountsService entry for auto-login
Before=display-manager.service
After=kiosk-setup.service home-kiosk.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /var/lib/AccountsService/users
ExecStart=/usr/bin/sh -c 'printf "[User]\nSession=kiosk\nSystemAccount=false\n" > /var/lib/AccountsService/users/kiosk'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target